<h1>Recipe info</h1>
<h2>Title: <%= @recipe.title %></h2>
<img src="<%= @recipe.image_url %>" alt="" width=200>
<h3>Chef: <%= @recipe.chef %></h3>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Directions: <%= @recipe.directions %></p>
<p>Prep time: <%= @recipe.prep_time %></p>
<a href="/recipes">Back to all recipes</a>
<a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a>
<a href="/recipes/<%= @recipe.id %>" data-method="delete">Destroy recipe</a>
